layout: index
subtitle: "Front-End Coding Guidelines"
slogan: 前端代码规范
description: "Best Coding Guidelines or Front-End Developer."
comments: false
---
ul#intro-feature-list.intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-cogs
      h3.intro-feature-title HTML规范
      p.intro-feature-desc 待填充，Best Coding Guidelines For Front-End Developer....
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-picture-o
      h3.intro-feature-title 图片规范
      p.intro-feature-desc 待填充，Best Coding Guidelines For Front-End Developer....
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title CSS规范
      p.intro-feature-desc 待填充，Best Coding Guidelines For Front-End Developer....
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-database
      h3.intro-feature-title 命名规范
      p.intro-feature-desc 待填充，Best Coding Guidelines For Front-End Developer....
