layout: index
subtitle: "Front-End Coding Guidelines"
slogan: 前端代码规范
description: "Best Coding Guidelines or Front-End Developer."
comments: false
---
ul#intro-feature-list.intro-feature-list
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-code
      h3.intro-feature-title HTML规范
      p.intro-feature-desc 基于W3C、苹果开发者等官方文档，并结合团队日常业务需求以及团队在日常开发过程中总结提炼出的经验而约定。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-picture-o
      h3.intro-feature-title 图片规范
      p.intro-feature-desc 了解各种图片格式特性，根据特性制定图片规范，包括但不限于图片的质量约定、图片引入方式、图片合并处理等。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-pencil
      h3.intro-feature-title CSS规范
      p.intro-feature-desc 统一团队 CSS 代码书写和 SASS 预编译语言的语法风格，提供常用媒体查询语句和浏览器私有属性引用，并从业务层面统一规范常用模块的引用。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-star
      h3.intro-feature-title 命名规范
      p.intro-feature-desc 从 “目录命名”、“图片命名”、“ClassName” 命名等层面约定规范团队的命名习惯，增强团队代码的可读性。
  li.intro-feature-wrap
    .intro-feature
      .intro-feature-icon
        i.fa.fa-file-code-o
      h3.intro-feature-title JavaScript 规范
      p.intro-feature-desc 统一团队的 JS 语法风格和书写习惯，减少程序出错的概率，其中也包含了 ES6 的语法规范和最佳实践。
